@import "tailwindcss";



@theme {
  --font-pacifico: Pacifico, cursive;
  --font-roboto: Roboto, sans-serif;
  --color-primary: #FFA60D;
}

body{
  background-color: #212121;
  font-family: "Roboto",sans-serif;
  
}
html {
  scroll-behavior: smooth;
}


